.formContainer
{
    background-color: white;
    margin:25px;
    margin-left:100px;
    margin-right:100px;
    box-shadow: 0px 0px 4px 4px #BDBDBD;
    height: 600px;
    border-radius: 25px;
    padding-top:20px;
}
.form-left
{
    float: left;
    margin-left: 5%;
}
.form-right
{
    float: right;
    margin-right:15%;
}
.intimate
{
    display: none; 
  position: fixed; 
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}
.intimate-content
{
    background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  border-radius: 20px;
}
.submit-btn
{
    width:150px;
    height:50px;
    cursor:pointer;
    background-color: teal;
    border-radius: 7px;
    color: white;
    font-size:15pt;
    float:left;
    border-color: teal;
    transition: all .3s;
}
.submit-btn:hover
{
    background-color: white;
    color: teal;
}
.clear-btn
{
    width:150px;
    height:50px;
    cursor:pointer;
    background-color: red;
    border-radius: 7px;
    color: white;
    font-size:15pt;
    float:right;
    border-color: red;
    transition: all .3s;
}
.clear-btn:hover
{
    background-color: white;
    color: red;
}
.banner
{
    margin-top:-25px;
    background-color: #0F122E;
    height:100%;
    width:70px;
    position: fixed;
    /* box-shadow: 0px 0px 3px 1px #09203f;  */
}
.dashBoard-body
{
    background-color: #090a1b;
    padding: 0;
    margin: 0;
}
.banner-icon
{
    margin-left:20px;
    cursor: pointer;
    margin-bottom:30px;
}
.card
{
    border-radius:20px;
    width: 250px;
    height:300px;
    background-image: linear-gradient(#667eea ,#764ba2);
    margin-top:50px;
    float:left;
    transition: all 4s;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
}
.card-title
{
    color:white;
    font-weight: 500;
    font-size: 25pt;
    font-family: 'Sofia';
}
.card-info-title
{
    color: white;
    font-weight: 350;
    font-size: 15pt;
    font-family: 'Sofia';
    text-align: left;
    margin-left: 15px;
    float: left;
    margin-top:-20px;
}
.card-info-answer
{
    margin-top:-20px;
    color: #09203f;
    font-weight: 550;
    font-size: 15pt;
    font-family: 'Sofia';
    text-align: left;
    margin-left: 10px;
    float: left;
}
.sign_in_btn
{
    background-color: #3D5AFE;
    width: 150px;
    height: 50px;
    margin-top: 25px;
    border-color: #3D5AFE;
    border-radius: 15px;
    cursor: pointer;
    font-size: large;
    color: white;
    font-family: 'Lora';
    transition: all .5s;
}
.sign_in_btn:hover
{
    background-color: #090a1b;
    color: #3D5AFE;
}
.profile-body
{
    background-color: #090a1b;
}
.profile-container
{
    width: 75%;
    text-align: center;
    height: 450px;
    border-radius: 30px;
    background-image: linear-gradient(#09203f ,#537895);
    margin-left: 7%;
}
.username-field
{
    border-color: #3D5AFE;
    width: 200px;
    height: 45px;
    margin:10px;
    background-color: #0F122E;
    border-radius: 10px;
    outline:none;
    color: white;
    float: left;
    padding-left: 15px;
}
.label
{
    color: white;
    font-family: 'Prata';
    font-size: 14pt;
    margin:15px;
    float: left;
}
.username-container
{
    margin: 10px;
    width: fit-content;
    overflow: hidden;
}